/* You can add global styles to this file, and also import other style files */


.ngx-pagination
{
    font-size: 12px !important;
    margin-top: 23px !important;
    font-weight: 1000;
    word-spacing: 0px;
    li
    {
        font-weight:bold
        &.disabled
        {
            color:#000;
            padding: 0 3px !important;
            
        }
        &.current
        {
            padding: 0 3px !important;
            color:#818181; 
            background-color:transparent;
            
        }

    }
}

.ngx-pagination .disabled{

    color:#818181 !important;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    content: '' !important;
    display: inline-block;
    margin-left: 0.3rem;
}


.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    content: '' !important;
    display: inline-block;
    margin-right: 0.3rem;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
    background: none !important;
    text-decoration: none !important;
}
:focus {
    outline: none !important;
}
.ngx-pagination a {
    padding: 0px 3px !important;
}
.ngx-pagination .disabled {
    padding: 0px 3px !important;
}

.tooltip
{
line-height: 0.75 !important;
word-spacing: 0px !important;
}

.tooltip-inner{
    font-size: 9px !important;
    background-color: #ffffcc !important;
    border-radius: .25rem !important;
    color: #000000 !important;
    border:1px solid black;
	max-width: 244px;
    padding: 4px 4px;
    text-align: center;
}

.tooltip .arrow::before {
    content: none !important;
	
	}